# tab completion
argcomplete

# Keras and TensorFlow
keras
tf-keras

# Testing and linting
flake8-blind-except
flake8-builtins
flake8-class-newline
flake8-comprehensions
flake8-deprecated
flake8-docstrings
flake8-import-order
flake8-quotes
pytest
pytest-repeat
pytest-rerunfailures
pylint
pyyaml
lark

# SpeechRecognition and audio
# dlib
# TTS
# simpleaudio
# SpeechRecognition
# farm-haystack
# farm-haystack[inference]

# Computer vision
opencv-python
deepface==0.0.92
progressbar
